jupyter-book==1.0.3
numpy
pandas
scipy
matplotlib
seaborn
plotly
nilearn
scikit-learn
jupytercards
jupyterquiz
statsmodels
mlxtend
patsy
ipywidgets
ISLP
xgboost
#tensorflow # remove to save workflow space, students can install it manually for the neural network chapter